body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.login-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

/* Delete this after testing */
.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form input {
  width: 300px;
  height: 60px;
  font-size: 25px;
  margin: 10px;
}
/* Delete this after testing */
